 <h1>Presenting Hargray Innovation!</h1>
    <p>
    Hargray Communications is a telecommunications provider based out of beautiful Hilton Head Island, South Carolina.    
    </p>
  <h2>Features</h2>

 <p>
   Hargray allows users to:
 </p>

 <ul>
   <li>Type word into search bar & upon clicking search</li>
   <li>Look up definition of a word & display it to you!</li>
   <li>View the past 5 search terms</li>
 </ul>

 <p>
   Hargray also supports a variety of technological advancements like high speed internet and media entertainment.
 </p>