<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6">
      <h4>Result</h4>
      <dl>
        <dt>Definition</dt>
        <dd><%= @definition %></dd>
      </dl>
    </div>
  </div>
</div>